@charset "UTF-8";
/*직접 입력 & 선택 해야하는 정보*/
.group_code{
	margin : 30px 0 0 30px;
	font-size:20px;
}
.group_code_name{
	margin-left:20px;
}
.sample_code{
	margin: 30px 0 0 30px;
	font-size:20px;
}

input[type=radio]{
	padding:5px;
	width:20px;
	height:	20px;
}
input[name=group_code]{
	margin:0 20px 0 20px;
}

input[name=sample_code]{
	margin:0 20px 0 20px;
}
.depth{
	float:left;
	margin:30px 0 0 30px;
}
.depth1{
	width:300px;
	height:30px;
	font-size:15px;
}

.depth2{
	width:300px;
	height:30px;
	font-size:15px;
}

.depth3{
	width:300px;
	height:30px;
	font-size:15px;
}

/*파일 업로드 */
.excelfile{
	float:left;
	margin:20px 0 0 30px;
	padding :10px;
}